* {
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(1px);
    display: flex;
    gap: 39%;
    padding: 1em;
    place-items: center;
    margin-bottom: 2em;
}
header img{
    width: 55px;
}

body {
    background-color: #bfddf3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/4881582-idilica-tropical-praia-paisagem-para-fundo-ou-papel-de-parede-design-de-turismo-para-verao-ferias-paisagem-feriado-destino-conceito-exotico-ilha-cena-relaxante-vista-paraiso-a-beira-mar-lagoa-foto.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.imagens {
    display: flex;
    justify-content: space-evenly;
}

.imagens img {
    width: 20%;
    box-shadow: 0 0 3px 3px rgba(44, 44, 44, 0.507);
    border-radius: 12px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(1px);
    margin-top: 3em;

}

.coluna {
    display: flex;
    justify-content: center;
    gap: 25px;
}